<html>
  {{> head}}
  <body>
      <h1>Epic Weather App</h1>
    <div class="container">

      <div class="weather">
        <h2>{{location}} - {{country}}</h2>
        <p>{{description}}</p>
        <img
          src="{{iconUrl}}"
          alt="{{description}}"
        />
        <p>{{temp}}°C</p>
        <p>Humidity: {{humidity}}%</p>
      </div>
          <a href="/search">Back</a>
    </div>

  </body>
</html>